.custom-bg {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.custom-tree-bg {
  background-color: #424f63;
}

.custom-dashboard-bg {
  background-color: #eff0f4;
}

.custom-cari-bg {
  background-color: #ffffff;

}

.custom-cariIslemler-label-bg {
  background-color: #6a8abe;
}

.custom-tree-items {
  padding: 0px;
}

.p-tree-container {
  padding-left: 5px;
}

.side-menu-item{
  color: #ffffff;
}

.side-menu-item .MuiListItemIcon-root {
  color: white;
}
.sidebar {
  min-height: 100vh; /* Minimum yüksekliği ekranın tamamı */
  overflow: hidden; /* Taşmayı gizle */
  transition: width 0.3s ease; /* Genişlik animasyonu */
  background-color: #424f63; /* Arka plan rengi */
}

.modal-bg{
  background-color: #65cea7; /* Arka plan rengi */
}
